<div class="jar-app-loader" [class.loader-hidden]="resourcesLoaded">
  <div class="jar-spinner">
    <div class="jar-double-bounce1"></div>
    <div class="jar-double-bounce2"></div>
  </div>
</div>
<div [class.loader-hidden]="!resourcesLoaded">
  <jar-header [appTitle]="appTitle" [appIcon]="appIcon" [initialPage]="initialPage">
    <ng-content custom select="[jar-custom-header]"></ng-content>
  </jar-header>
  <jar-sidebar [sidenav]="sidenav" [authorities]="authorities" [context]="context"></jar-sidebar>
  <main id="main" class="main">
    <div class="jar-view-loader" style="position: fixed" *ngIf="isModuleLoading">
      <div class="jar-spinner">
        <div class="jar-double-bounce1"></div>
        <div class="jar-double-bounce2"></div>
      </div>
    </div>
    <ng-content></ng-content>
  </main>
  <jar-footer><ng-content custom select="[jar-custom-footer]"></ng-content></jar-footer>
</div>
